.canvas-holder{
    position: relative;
}

.demo-div{
    transition : .5s all;
    /* mix-blend-mode: difference; */
    position: absolute;
    top :0;
    left :0;
    background-color: white;
    
    color:rgb(46, 46, 46);
    opacity : 1;
    width: 50%;
    height: 100%;
}

.demo-intro{
    transition : 1s all;
    height: 500px;
    width: 400px;
    text-align: center;
    font-size: 30px;
}
.invisible{
    opacity: 0;
    background-color: transparent;
}
.visible{
    opacity: 1;
    background-color: white;
}

.demo-div h1,h2,p{
    padding: 10px;
    margin: 5px;
}

.demo-div h1{
    font-size: 28px;
}

.demo-div h2{
    font-size: 22px
}

.demo-div p{
    font-size: 18px;
}
.demoImg{
}
.onto{
    background-color: rgb(255, 205, 205);
}