.canvas-holder{
    position: relative;
}

.demo-div{
    transition : .5s all;
    /* mix-blend-mode: difference; */
    position: absolute;
    top :0;
    left :0;
    background-color: rgb(250, 250, 250);
    
    color:rgb(65, 65, 65);
    opacity : 1;
    width: 50%;
    /* height: 100%; */
}


.demo-intro{
    transition : 1s all;
    height: 500px;
    width: 400px;
    text-align: center;
    font-size: 30px;
}
.invisible{
    opacity: 0;
    background-color: transparent;
}
.visible{
    opacity: 1;
    background-color: white;
}

.demo-div h1,h2,h3,p{
    padding: 10px;
    margin: 5px;
}

.demo-div h1{
    font-size: 28px;
}

.demo-div h2{
    font-size: 24px
}
.demo-div{
    font-size: 20px;
}

.demo-div p{
    font-size: 18px;
}
.demoImg{
}
.onto{
    background-color: rgba(212, 250, 255, 0.87);
    transition: 1s all;
    box-shadow: 0 0 -10px rgba(212, 250, 255, 0.87);
}

.onto:hover{
    background-color: rgb(240, 253, 255);
}

@-webkit-keyframes pulse {
  from { background-color: #35f5e573; -webkit-box-shadow: 0 0 9px rgba(206, 255, 240, 0.637); }
  50% { background-color: #aefce57e; -webkit-box-shadow: 0 0 18px #78dcfa86; }
  to { background-color: #43e6c375; -webkit-box-shadow: 0 0 9px rgba(168, 252, 248, 0.438); }
}

.button-glow {
-webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}