body{
    background-color: black;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button, label, input, select{
    min-height: 30px;
    max-width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    margin:5px;
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    /* transition: 1s background-color; */
    /* border: 1px solid lightgrey; */
    
}
button{
    /* border: 1px solid rgb(175, 175, 175); */
    /* border-radius: 3px; */
}
input{
    background-color: rgb(255, 255, 255);
    padding: 6px;
    margin: 5px;
    color: rgb(136, 136, 136);
    font-size: 15px;
}
select{
    min-height: 15px;
    padding: 3px;
    margin: 5px;
}
.canvas-holder{
    /* max-height: 1050px; */
    /* min-height: 1050px; */
    height: fit-content;
    /* min-height: 800px; */
    display: flex;
    flex-direction: column;

    width: 1024; 
border: 5px solid gold;
}
canvas{
    width: fit-content;
    height: fit-content;
}

.options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top :50px;
}



.container{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
.container *{
    opacity: 1;
    transition: .6s opacity ease-in, .3s background-color ;
    transition-delay: .1s;
}
.colors{
    position: absolute;
    top: 0px;
    left:0px;
}
.bc{
    margin-right: 50px;
    position: relative;
    top: -20px;
}
.inneroptions{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    text-align: center;
    background-color: #ffe7c4;
    border-radius: 10px;
    opacity: 1;
    height: 80%;
    overflow: hidden;
    transition:  .7s height ease-out, 1s opacity;
    position: relative;
    

}
.fa {
    padding-left: 4px;
}
.options{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.niaveOptions input{
    display: flex;
}


label{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 160, 128);
    color: white;

}

.collapse{
    
    height: 0%;
    /* opacity: 0; */
}
.collapse *{
    opacity: 0;

}
.imageOptions{
    height: fit-content;
    /* border-radius: 10px; */
}

#blockChopToggle, #quadTreeToggle{
    opacity: 1;
    /* width: 100px; */
    /* border-radius: 10px;     */
    margin-top: 10px;
    margin-bottom: 10px;
}

.qt{
    top: -80px;
}

button:hover, input:hover, select:hover{
    background-color: lightgoldenrodyellow;
}

.start{
    background-color: rgb(157, 231, 137);
    color: rgb(245, 245, 245);
}
.stop{
    background-color: rgb(218, 139, 139);
    color: rgb(243, 243, 243);

}

.start:hover{
    background-color: rgb(116, 252, 79);
    color: white;
}

.stop:hover{
    background-color: rgb(255, 103, 103);
    color: rgb(255, 255, 255);
}