.options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.canvas-holder{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
}
.originalCanvass{
    
}
.options{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.niaveOptions input{
    display: flex;
}

button, label, input{
    min-height: 30px;
    max-width: 300px;
    flex-grow: 0;
}