.canvas-container{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
}

.niaveOptions{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.niaveOptions input{
    display: flex;
}

canvas{
    width: fit-content;
}